/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}

a {
    text-transform: uppercase;
}

.header-container {
    background-image: url("img/photo-1459666644539-a9755287d6b0.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.navbar {
    padding: 0 15rem;
}

.navbar-brand .brand-logo-1 {
    max-width: 40px;
    width: 100%;
}

.navmenu .nav-link-item {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 900;
    font-style: italic;
    padding: 0 15px;
}


.container-fluid .hero_section {
    position: absolute;
    top: 34vh;
    left: 28%;
    width: 35%; 
}

@media (max-width: 600px) {
    .header-container {
        background-image: url("img/photo-1459666644539-a9755287d6b0.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navbar {
        padding: 0 2rem;
        background-color: #fff;
    }

    .container-fluid .hero_section {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    .navmenu {
        height: 10vh;
        display: flex;
    }

    .navmenu .nav-link-item {
        color: black;
    }

}

.container-2 {
    background-image: url("img/historybg.png");
    background-size: cover;
    height: 120vh;
    position: relative;
}

.navmenu-2 .nav-link-item {
    color: #23395d;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding: 0 15px;
}

.navbar-brand .brand-logo-2 {
    width: 100px;
    margin-left: 10px;
}

.container2-inline {
    padding: 0 15rem;
}

.container2-inline .history {
    margin-top: 50px;
    font-size: 8rem;
    font-family: 'Oswald', sans-serif;
    color: #708090;
    position: relative;
}

.history span {
    font-size: 3rem;
    color: #536581;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 8vh;
    left: 12%;
}


.container2-inline .history_text {
    color: black;
    max-width: 600px;
    position: relative;
    left: 8%;
}

.container-2 #carousel {
    position: absolute;
    bottom: 0%;
    background-color: #23395d79;
    width: 100%;
    padding: 20px;
}

.list-img, .box-item {
    display: flex;
    justify-content: center;
}

.list-img  img {
    padding: 10px;
}

.box-item {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.box-item .box {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .container2-inline {
        padding: 0 2rem;
    }

    .navmenu-2 {
        height: 10vh;
        display: flex;
    }

    .container2-inline .history {
        font-size: 5rem;
    }

    .history span {
        font-size: 2rem;
        left: 21%;
        top: 30%;
    }

    .container2-inline .history_text {
        left: 0%;
    }

    .list-img img {
        max-width: 220px;
        width: 100%;
    }
}


.container3 {
    height: 120vh;
    background-image: url("img/mountain1.png");
    background-size: cover;
}

.content {
    height: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 15rem;
    justify-content: space-between;
}

.content_head {
    font-size: 8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #708090;
    position: relative;
}

.content_head span {
    font-size: 3rem;
    text-transform: uppercase;
    color: #536581;
    position: absolute;
    top: 35%;
    left: 85%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}


.content_text {
    width: 600px;
}


.team_head {
    background-color: #23395d;
    padding: 0 15rem;
    position: relative;
}

.team_head a {
    color: #708090;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    padding: 2px 10px;
    letter-spacing: 2px;
}


.team_head a:hover {
    background-color: #708090;
    color: #23395d;
    text-decoration: underline;
    text-underline-offset: 4px;
}


.box_content {
    background-color: #ffffff91;
    width: 300px;
    height: 250px;
    margin-left: 17rem;
    margin-top: 5rem;
    padding: 20px;
}

.sch_head {
    font-weight: 600;
    color: #23395d;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
}

.list_sch {
    display: flex;
    justify-content: space-between;
}

#accordion {
    display: none;
}
footer {
    background-color: #23395d;
    display: flex;
    justify-content: space-between;
    padding: 10px 15rem;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-style: italic;
    letter-spacing: 1.1px;
    color: #536581;
}

@media (max-width: 600px) {
    .container3 {
        height: auto;
        background-image: none;
    }
    .content {
        padding: 0 2rem;

    }

    .content_head {
        font-size: 5rem;
    }

    .content_head span {
        font-size: 2rem;
    }

    .content_text {
        max-width: 200px;
        font-size: 12px;
    }

    #accordion {
        display: block;
    }

    .team {
        display: none;
    }

    .box_content {
        margin-left: 0px;
        margin-top: 0rem;
    }

    #tab1 {
        background-image: url("img/mountain1.png");
        background-size: cover;
    }
    #tab2 {
        background-image: url("img/mountain2.png");
        background-size: cover;
    }


}










