/* font section */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* body layouts */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    background-image: url('/img/photo-1459666644539-a9755287d6b0.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}

#nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 17rem;
}

#navbar1 a {
    padding: 0 10px;
    color: white;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-style: italic;
}

.hero img {
    position: absolute;
    top: 30vh;
    left: 40%;
    transform: translate(-40%);
}

.container2 {
    height: 150vh; 
    background-image: url("/img/historybg.png");
    background-size: cover;
    position: relative; 
}

#sticky_nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 17rem;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 99;
}

#sticky_brand {
    display: flex;
    gap: 10px;
}

#navbar2 a {
    padding: 0 10px;
    color: #53659e;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-style: italic;
}

#content {
    position: relative;
    margin-top: 5%;
    padding: 0 15rem;
}

.text-lead {
    font-size: 50px;
    font-weight: 600;
    color: #3c4a79;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.text-bold {
    font-size: 8rem;
    position: relative;
    left: 25px;
    top: 30px;
    color: #53659e;
}

.text-lead2 {
    color: black;
    max-width: 700px;
    position: relative;
    left: 100px;
}

.carousel {
    position: absolute;
    bottom: 0%;
    background-color: #53659e7e;
    width: 100%;
    padding: 15px;
    height: 200px;
}

.lists-img {
    display: flex;
    max-width: 1000px;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
}

.block_btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.block_btn .box {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
}

.block_btn > div:nth-child(2) {
    background-color: #f5f5f577;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.container3 {
    height: 100vh;
    background-image: url("/img/mountain1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.team_head {
    background-color: white;
    padding: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    position: relative;
    top: -5vh;
}

.text-lead4 {
    max-width: 500px;
}

.view_content {
    background-color: #53659e;
    padding: 0rem 15rem;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.view_head {
    color: #b9b9b9;
    font-weight: 900;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #53659e;
    background-color: #b9b9b9;
}

.sch_section {
    background-color: #f8f8f8c4;
    padding: 10px 2rem;
    width: 350px;
    position: relative;
    left: 20%;
    top: 10%;
}

.sch_head {
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    color: #53659e;
    letter-spacing: 2.5px;
    font-size: 30px;
}

.sch_schedule {
    display: flex;
    line-height: 50px;
    justify-content: space-between;

}

footer {
    background-color: #53659e;
    display: flex;
    justify-content: space-between;
    padding: 10px 15rem;
    align-items: center;
}

.footer-text {
    text-transform: uppercase;
    color: #2f3858;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 1.1px;
}


@media (max-width: 475px) {
    body {
        overflow-x: hidden;
    }
    .container {
        background-position: center;
        background-size: cover;
    }

    #nav_content {
        padding: 0.5rem 2rem;
    }

    .hero img {
        width: 50%;
        top: 18vh;
    }

    #navbar1 a {
        font-size: 13px;
    }

    .brand img {
        width: 40px;
    }

    #sticky_nav_content {
        padding: 0.5rem 2rem;
        align-items: center;
    }

    #navbar2 a {
        font-size: 13px;
    }
    
    #sticky_brand img{
        height: 30px;
        width: 100%;
    }

    .container2 {
        background-position: center;
    }

    #content {
        padding: 0 2rem;
    }

    .text-lead {
        font-size: 25px;
    }

    .text-bold {
        font-size: 5rem;
        position: relative;
        left: 16px;
        top: 16px;
        color: #53659e;
    }

    .text-lead2 {
        left: 15%;
        max-width: 300px;
    }

    .carousel {
        position: absolute;
        bottom: 0%;
        background-color: #53659e7e;
        width: 100%;
        padding: 20px;
    }

    .lists-img img {
        max-width: 210px;
    }

    .block_btn .box {
        width: 5px;
        height: 5px;
    }
    .block_btn {
        margin-top: 20px;
    }

    .block_btn > div:nth-child(2) {
        width: 5px;
        height: 5px;
    }

    .team_head {
        padding: 0.5rem 2rem;
        justify-content: center;
        gap: 20px;
    }

    .text-lead4 {
        max-width: 300px;
    }
    
    .view_content {
        padding: 0 2rem;
        flex-direction: column;
    }

    .view_content div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .view_content > div > p:first-child {
        border-top: 1px solid #b9b9b9;
    }

    .container3 {
        background-position: center;
        height: 40vh;
    }

    .active {
        background-color: transparent;
        color: #b9b9b9;
    }

    .sch_section {
        display: none;
        margin: auto;
        left: 0%;
    }

    footer {
        padding: 0.5rem 2rem;
    }
}

    









